:root {
    --bg-color: #74A6A3;
    --bg-bl-color: #C00000;
    --bg-bl-color-light: #ffA0A0;
    --bg-bl-color-middle: #D06060;
    --title-bl-color: #006A8D;
    --btn-color: #B10000;
    --bg-bl-color-grey: #EBE8D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: auto 70vw auto;
    background-color: var(--bg-color);
}

.container {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr;
}

.logo-clock {
    display: flex;
    justify-content: space-between;
}

.logo-background {
    width: 268px;
    height: 80px;
    margin-top: 30px;
    position: relative;
    clip-path: polygon(0% 0%, 0% 67%, 11% 100%, 100% 100%, 100% 33%, 89% 0%);
    background-color: black;
    border: none;
    border-radius: 10px 0px 10px 0px;
}

.logo {
    width: 264px;
    height: 76px;
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    clip-path: polygon(0% 0%, 0% 67%, 11% 100%, 100% 100%, 100% 33%, 89% 0%);
    background-color: var(--bg-bl-color-grey);
    border: none;
    border-radius: 10px 0px 10px 0px;
}

.logo p {
    margin: auto;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    color: var(--bg-bl-color);
}

.alarm-clock {
    width: 100px;
    height: 144px;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    background-image: url(../img/alarmClock.png);
    background-size: cover;
    border: none;
}

.time {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 63px;
    margin-left: 11px;
}

.time p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    height: 88px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
}

.nav-background {
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 170px 1fr 170px;
    grid-auto-flow: row;
    border: 2px solid black;
    border-radius: 38px;
    box-sizing: border-box;
    background-color: var(--bg-bl-color);
    background: -moz-linear-gradient(bottom, var(--bg-bl-color) 0%, var(--bg-bl-color-middle) 20%, var(--bg-bl-color-light) 50%, var(--bg-bl-color-middle) 80%, var(--bg-bl-color) 100%);
    background: -webkit-linear-gradient(bottom, var(--bg-bl-color) 0%, var(--bg-bl-color-middle) 20%, var(--bg-bl-color-light) 50%, var(--bg-bl-color-middle) 80%, var(--color2) 100%);
    background: linear-gradient(to top, var(--bg-bl-color) 0%, var(--bg-bl-color-middle) 20%, var(--bg-bl-color-light) 50%, var(--bg-bl-color-middle) 80%, var(--bg-bl-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--bg-bl-color), endColorstr=var(--bg-bl-color-light), GradientType=1);
}

.nav-items {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(5, auto);
}

.nav-item {
    height: 84px;
    display: grid;
    grid-column: auto;
    align-self: center;
    justify-self: space-around;
    grid-template-columns: 1fr;
}

.nav-item a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    justify-self: center;
}

.nav-item a div {
    height: 84px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.nav-item:hover {
    background-color: #A00;
}

.main {
    margin-top: 30px;
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 2fr 0px 1fr;
    gap: 30px;
}

.content {
    position: relative;
    display: grid;
    grid-column: 1/3;
    border: none;
    border-radius: 20px;
    background-color: #EBE8D9;
}

.newPost {
    margin-top: -23px;
    margin-bottom: -23px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 20px;
    background-color: var(--bg-bl-color-grey);
}

#newTitle {
    height: 50px;
    margin: 15px 15px 0px 15px;
    padding: 0px 7px;
    outline: none;
    -moz-appearance: none;
    color: white;
    background-color: var(--title-bl-color);
    border: none;
    border-radius: 10px;
}

#newTitle::-webkit-input-placeholder {
    color: #aaf;
}

#newTitle::-moz-placeholder {
    color: #aaf;
}

#newContent {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    outline: none;
    -moz-appearance: none;
    resize: none;
    background-color: var(--bg-bl-color-grey);
    border: none;
    border-radius: 20px;
}

#newContent::-webkit-input-placeholder {
    color: #aaf;
}

#newContent::-moz-placeholder {
    color: #aaf;
}

.newPost__button {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

#newPost-button, #restorePosts-button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    background-color: var(--btn-color);
    color: white;
    border: none;
    border-radius: 10px;
}

.cont-img img {
    height: 95%;
    width: 95%;
    position: absolute;
    margin: 2.5%;
    border-radius: 20px;
}

.bg-img {
    width: 100%;
    height: 100%;
    display: grid;
    grid-column: 1/2;
    position: absolute;
    align-items: center;
    border-radius: 20px;
}

.bg-img p {
    padding: 0px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
}

.dark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    border: none;
    background-color: rgba(0, 106, 141, 0.8);
    opacity: 0;
}

.dark:hover {
    opacity: 1;
}

.posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    background-color: var(--bg-color);
}

#posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    background-color: var(--bg-color);
}

.post {
    height: 326px;
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 1fr;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 20px;
    background-color: var(--bg-bl-color-grey);
}

.post__title {
    height: 50px;
    margin: 15px;
    padding: 0px 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: var(--title-bl-color);
}

.post__content {
    grid-column: 1/2;
    height: 184px;
    margin: 0px 15px;
    border: none;
    overflow-y: auto;
    overflow-x: auto;
}

.post__text {
    white-space: pre-wrap;
}

.post__footer {
    height: 40px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.post__right {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.post__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt-open, .butt-delete {
    width: 112px;
    height: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: var(--btn-color);
}

.butt-open {
    margin-right: 5px;
}

.butt-open:hover, .butt-delete:hover {
    cursor: pointer;
}

.button-article {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.butt-art {
    width: 60px;
    height: 60px;
    border: none;
    font-size: 28px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: #006A8D;
}

.advertising {
    height: 682px;
    display: grid;
    grid-column: 3/4;
    grid-template-columns: 15px 1fr 15px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: #EBE8D9;
}

.adver1,
.adver2,
.adver3 {
    height: 140px;
    display: grid;
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

.adver-img2 {
    background-image: url(../img/cottage.png);
}

.adver-img3 {
    background-image: url(../img/lake.png);
}

.adver2,
.adver3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 0px 2px #000, 0px 2px 2px #000, -2px 0px 2px #000, 0px -2px 2px #000;
    color: #8ff;
    border: none;
}

#adver-button {
    width: 40px;
    height: 40px;
    justify-self: center;
    line-height: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(177, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50%;
}

#adver-button:hover {
    background-color: rgba(177, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.adver1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    border: none;
}

.hi-h3 {
    width: 100%;
    height: 50px;
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: #006A8D;
}

.hi-h3 h3 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
}

.formLogin {
    display: flex;
    align-items: center;
    background-color: var(--bg-bl-color-grey);
}

.formLogin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -4px;
}

.formLogin form input {
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--bg-color);
    background-color: var(--bg-bl-color-grey);
    border: none;
    outline: none;
}

.formLogin form hr {
    width: 100%;
    margin-bottom: 5px;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
}

.formLogin form input::-moz-placeholder {
    color: var(--bg-color);
}

.formLogin form input::-webkit-input-placeholder {
    color: var(--bg-color);
}

.loginButton {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    grid-column: 2/3;
    justify-self: center;
    cursor: pointer;
    background-color: var(--btn-color);
    border: none;
    border-radius: 10px;
}

.loginButton a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
}

footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    margin-bottom: 30px;
    display: grid;
    grid-column: 1/2;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.foot-art {
    height: 202px;
    grid-column: auto;
    border: none;
    border-radius: 20px;
    background-color: #EBE8D9;
}

#about,
#service {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#about h3,
#service h3 {
    margin-top: 20px;
    text-align: center;
    color: var(--title-bl-color);
}

#about p,
#service p {
    margin-left: 20px;
    margin-top: 20px;
}

#service p {
    font-size: 16px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#contact h3 {
    margin-top: 20px;
    text-align: center;
    color: var(--title-bl-color);
}

#contact a {
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
}

/* Бургер меню */
.wrapper {
    margin: 20px;
    width: 250px;
    height: 40px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: var(--btn-color);
    display: none;
}

#check-burger-menu {
    display: none;
}

.burger-menu-label {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

.burger-line {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s all;
}

.burger-line2,
.burger-line3 {
    top: 18px;
}

.burger-line4 {
    top: 28px;
}

.main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    transform: translateY(100%);
    max-height: 0px;
    font-size: 0px;
    overflow: hidden;
    transition: 0.5s all;
}

.burger-a {
    display: block;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--btn-color);
}

#check-burger-menu:checked~.main-menu {
    max-height: 500px;
    font-size: 18px;
}

#check-burger-menu:checked~.burger-line1 {
    display: none;
}

#check-burger-menu:checked~.burger-line2 {
    transform: rotate(45deg);
}

#check-burger-menu:checked~.burger-line3 {
    transform: rotate(-45deg);
}

#check-burger-menu:checked~.burger-line4 {
    display: none;
}

/* ========================= */

@media (max-width: 1000px) {

    body {
        grid-template-columns: 1fr;
    }

    .nav-background {
        grid-template-columns: 1fr;
    }

    .nav-items {
        grid-column: 1/2;
    }
}

@media (max-width: 768px) {

    .main {
        grid-template-columns: 1fr;
    }

    .content {
        grid-column: 1/2;
        display: flex;
    }

    .posts {
        display: grid;
        margin-right: 0px;
    }

    .cont-img {
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .cont-img img {
        height: 90%;
        border-radius: 20px;
    }

    .advertising {
        grid-column: 1/2;
        height: auto;
        padding: 30px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        border: none;
        border-radius: 20px;
        background-color: #EBE8D9;
        order: -1;
    }

    .adver1,
    .adver2,
    .adver3 {
        min-width: 60px;
        max-width: 220px;
    }

    .hi-h3 {
        margin-top: 0px;
    }

    #about p,
    #service p {
        font-size: 14px;
        overflow-y: auto;
    }
}

@media (max-width: 480px) {

    .nav-items {
        display: none;
    }

    .wrapper {
        display: block;
    }

    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 30px;
    }

    .foot-art {
        grid-row: auto;
    }

    #about p,
    #service p {
        font-size: 18px;
    }
}

@media (max-width: 320px) {

    body {
        display: grid;
        background-image: url(../img/small_screen_2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        display: none;
    }
}